// Shows div content in 4 or less columns, with re-flow depending on container width.
div.col-4 {
  -webkit-column-width: 15em;
     -moz-column-width: 15em;
          column-width: 15em;
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
    -webkit-column-gap: 1em;
       -moz-column-gap: 1em;
            column-gap: 1em;
   -webkit-column-rule: 1px dotted #ddd;
      -moz-column-rule: 1px dotted #ddd;
           column-rule: 1px dotted #ddd;
}
// Colour for Font-Awesome icons.
i.deletable { color: red; }
i.enabled { color: green; }
i.disabled { color: orange; }

/* Format table check's and x's */
.fa-check {
  color: green;
}
.fa-times{
  color: red;
}

// Move DataTables Search to the right
.dataTables_filter {
  width: 50%;
  float: right;
  text-align: right;
  margin-top: 10px;
}

// Home page img
#home-img {
    background-image: url("/img/TechBackground.png");
    background-repeat: repeat-x;
    min-height: 400px;
}

.console
{
  background-color: #000;
  span {
    color: #f5f5f5;
  }
  font-family: Monaco, "Lucida Sans Typewriter", "Lucida Console", "Bitstream Vera Sans Mono", monospace;
  font-size: 1.5em;
  padding: 1%;
  #console-wrapper {
    margin-left: -15px;
    margin-right: -15px;
  }
  .termPrompt {
    color: #00ff00;
  }
}

.console
{
}

input[type="button"]
{
  cursor: pointer;
}

.ios-config-header {
  color: #00a65a;
}
